@{
    <!--  ViewData["Title"] = "Privacy Policy";   -->
}
<h1>@ViewData["Title"]</h1>


<img src="https://github.com/Emmakaru/Utility-Inquiry-System/blob/main/cargills.png?raw=true" style="width: 211px; height:106px;" alt="Cargils Utility Inquiry System" />

 <form action="/home" method="post">
    <div class="form-group">
        <label for="serviceProvider">Service Provider</label>
        <select name="serviceProvider" id="serviceProvider" class="form-control">
            <option value="">Select Service Provider</option>
            <option value="Erims">Erims</option>
            <option value="Huawei">Huawei</option>
            <option value="Microsoft">Microsoft</option>
        </select>
    </div>
    <div class="form-group">
        <label for="txnNo">TXN No</label>
        <input type="checkbox" name="txnNo" id="txnNo" />
        <input type="text" name="txnNumber" id="txnNumber" class="form-control" disabled />
        <script>
            $(document).ready(function () {
                $("#txnNo").change(function () {
                    if ($(this).is(":checked")) {
                        $("#txnNumber").prop("disabled", false);
                    } else {
                        $("#txnNumber").prop("disabled", true);
                    }
                });
            });
        </script>
    </div>
    <div class="form-group">
        <label for="accountNo">Account No</label>
        <input type="checkbox" name="accountNo" id="accountNo">
        <input type="text" name="accountNumber" id="accountNumber" class="form-control" disabled>
        <script>
            $(document).ready(function () {
                $("#txnNo").change(function () {
                    if ($(this).is(":checked")) {
                        $("#txnNumber").prop("disabled", false);
                    } else {
                        $("#txnNumber").prop("disabled", true);
                    }
                });
            });
        </script>
    </div>
    <div class="form-group">
        <label for="dateFrom">Date From</label>
        <input type="date" name="dateFrom" id="dateFrom" class="form-control">
    </div>
    <div class="form-group">
        <label for="dateTo">Date To</label>
        <input type="date" name="dateTo" id="dateTo" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <div id="results"></div>     


    <!-- VSA server -transaction status -->
    <div>
        <strong>VSA Server - Transaction Status</strong>
        <ul>
            <li>Status:</li>
            <li>Batch No:</li>
            <li>Reference No:</li>
            <li>Updated Date:</li>
            <li>Updated Time:</li>
        </ul>
    </div>

    <!-- Error Message -->
    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">Error Message</h5>
            <p class="card-text"></p>
        </div>
    </div>

</form>



< script >


    $(document).ready(function() {
            // Initialize the date pickers
            $(".date-picker").datepicker({
                todayHighlight: true,
                autoclose: true
            });

            // Handle the search button click event
            $("#searchButton").click(function() {
                // Get the selected service provider
                var serviceProvider = $("#serviceProvider").val();

                // Get the TXN No checkbox value
                var txnNoChecked = $("#txnNo").is(":checked");

                // Get the Account No checkbox value
                var accountNoChecked = $("#accountNo").is(":checked");

                // Get the TXN No value
                var txnNo = $("#txnNoInput").val();

                // Get the Account No value
                var accountNo = $("#accountNoInput").val();

                // Get the start date
                var startDate = $("#startDate").val();

                // Get the end date
                var endDate = $("#endDate").val();

                // Get the errors
                var errors = [];

                // Validate the service provider
                if (serviceProvider == "") {
                    errors.push("Please select a service provider.");
                }

                // Validate the TXN No
                if (txnNoChecked && txnNo == "") {
                    errors.push("Please enter the TXN No.");
                }

                // Validate the Account No
                if (accountNoChecked && accountNo == "") {
                    errors.push("Please enter the Account No.");
                }

                // If there are any errors, show them
                if (errors.length > 0) {
                    $("#errorList").html(errors.join(" <
                            br / > "));
                        }
                        else {
                            // Get the data from the server
                            $.ajax({
                                url: "/api/get-data",
                                data: {
                                    serviceProvider: serviceProvider,
                                    txnNo: txnNo,
                                    accountNo: accountNo,
                                    startDate: startDate,
                                    endDate: endDate
                                },
                                type: "GET",
                                success: function(data) {
                                    // Display the data
                                    $("#data").html(data);
                                },
                                error: function(error) {
                                    // Show the error message
                                    $("#errorList").html(error.responseText);
                                }
                            });
                        }
                    });
            });
</script>


<style>
    .form-group {
    margin-bottom: 10px;
}

.date-picker {
    width: 200px;
}

.error-list {
    margin-left: 20px;
}

</style>